/** @format */

.window {
  display: grid;
  grid-template-columns: 25% 1fr;
  padding: 8px;
  max-width: 60vw;
  top: 25%;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--fifth-color);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  height: 100%;
}

.leftSection img {
  width: 80%;
  align-self: center;
}

.leftSection ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
  padding: 6px;
  list-style: none;
}

.menuItem {
  padding: 4px;
  display: grid;
  grid-template-columns: fit-content 1fr;
  border: 1px solid var(--third-color);
  border-radius: 4px;
  color: #000;
  transition: all 0.15s;
}

.selected {
  background-color: var(--forth-color);
}

.menuItem:hover {
  background-color: #424242;
  cursor: pointer;
  color: var(--forth-color);
}

.rightSection {
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.profile_title {
  align-self: start;
}

.profile_upperSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 4px 20px;
  background-color: #424242;
  border-radius: 6px;
}

.profile_lowerSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));
  gap: 4px;
  padding: 6px;
}

.profile_upperSection_buttons,
.profile_lowerSection_buttons,
.changePassbuttons,
.privacyButtons,
.preferencesButtons,
.helpSupportButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.security {
  height: 100%;
}

.toggleComp,
.languageSelectionBox {
  margin: 2%;
  display: grid !important;
  grid-template-columns: 1fr auto;
  padding: 4px 18px;
}

.changePassBox {
  padding: 8px;
  margin: 4px;
}

.changePassBox form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  gap: 8px;
}

.phoneNumberBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.privacy {
  height: 100%;
  margin-bottom: auto;
}

.deleteAccountBtn {
  background-color: red;
}

.deleteAccountBtn:hover {
  animation: HeartBeat;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes HeartBeat {
  0% {
    opacity: 0.8;
    background-color: red;
    scale: 1.1;
  }
  25% {
    opacity: 0.6;
    background-color: lightcoral;
    color: #fff;
  }
  50% {
    opacity: 0.4;
    background-color: transparent;
  }
  75% {
    opacity: 0.6;
    background-color: lightcoral;
    scale: 1;
  }
  100% {
    opacity: 0.8;
    color: #000;
    background-color: red;
  }
}

.languageSelectionBox select {
  padding: 6px;
}
