/** @format */

.collectionPartContainer {
  /* width: auto; */
  /* height: inherit; */
  padding: 25px;
  margin: 25px;
  border-radius: 12px;
  /* background-color: transparent; */
  background-color: #848484;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

.infoBar {
  width: inherit;
  height: auto;
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: var(--first-color);
}

.collectionName {
  font-size: var(--lvl-one-text);
  letter-spacing: 0.5rem;
  align-self: center;
}

.infoBarDataContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: start;
  justify-content: center;
  gap: auto;
  width: fit-content;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  /* grid-template-rows: repeat(auto-fill, 1fr); */
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1.2rem;
  margin: 1rem;
  max-width: max-content;
  height: auto;
  max-height: 120px;
  background-color: var(--forth-color);
  grid-row: span 1;
  text-align: center;
  /* overflow-x: visible;
  overflow-y: auto; */
  position: relative;
}

.card_content {
  overflow: auto;
  height: 100%;
}

.card span {
  letter-spacing: 5px;
}

.optionsPane {
  position: absolute;
  top: 0;
  right: -1.299rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
  background-color: #ffffff3b;
  padding: 1px;
  border-radius: 5px;
}

.optionsPane img {
  width: 1.2rem;
}

.plusButton {
  position: absolute;
  bottom: 16px;
  right: 15px;
  padding: 15px;
}
