/** @format */

.collectionPartContainer {
  /* width: auto; */
  /* height: inherit; */
  padding: 25px;
  margin: 25px;
  border-radius: 12px;
  /* background-color: transparent; */
  background-color: #848484;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

.infoBar {
  width: inherit;
  height: auto;
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: var(--first-color);
}

.collectionName {
  font-size: var(--lvl-one-text);
  letter-spacing: 0.5rem;
  align-self: center;
}

.infoBarDataContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: start;
  justify-content: center;
  gap: auto;
  width: fit-content;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  /* grid-template-rows: repeat(auto-fill, 1fr); */
}

.card {
  /* display: grid;
  grid-template-rows: auto 1fr; */
  display: flex;

  padding: 1.2rem;
  margin: 1rem;
  width: auto;
  height: auto;
  max-width: max-content;
  max-height: 120px;
  background-color: var(--forth-color);
  grid-row: span 1;
  text-align: center;
  position: relative;
}

.card_content {
  position: relative;
  background-color: transparent;
  overflow: auto;
  perspective: 1000px;
  flex-grow: 1;
}

.card span {
  letter-spacing: 5px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg); /* Initially rotated to face away */
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide back face by default */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add some shadow */
}

.card_content:hover .cardInner {
  transform: rotateY(180deg);
}

.optionsPane {
  position: absolute;
  top: 0;
  right: -1.299rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
  background-color: #ffffff3b;
  padding: 1px;
  border-radius: 5px;
}

.optionsPane img {
  width: 1.2rem;
}

.plusButton {
  position: absolute;
  bottom: 16px;
  right: 15px;
  padding: 15px;
}
