/** @format */
.App {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.679);
  opacity: 0.5;
}

.lvlOneText {
  font-size: 1.5rem;
}

.lvlTwoText {
  font-size: 1rem;
}

.lvlThreeText {
  font-size: 0.8rem;
}

.noteText {
  font-size: 0.6rem;
}

.btn {
  padding: 7px;
  margin: 2px;
  background-color: var(--first-color);
  border: none;
  border-radius: 8px;
  max-width: max-content;
  transition: all 0.15s;
  font-family: inherit;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
  /* margin-bottom: 5px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #000;
}

[type="password"]::-ms-reveal {
  display: none !important;
}

input {
  text-indent: 3px;
  background-color: auto;
  border-radius: 7px;
  border: none;
  caret-color: green;
  transition: all 0.15s;
}

input::placeholder {
  color: rgb(116, 113, 113);
}

input:hover:not([type="radio"]) {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px, rgba(0, 0, 0, 0.22) 0px 8px 8px;
  transform: translateY(-3px);
}

@media (max-width: 1079px) {
}
