/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

:root {
  --default-background-color-light: whitesmoke;
  --default-background-color-dark: #181f1c;
  --first-color: #70e130;
  --second-color: #315c2b;
  --third-color: #274029;
  --forth-color: #545559;
  --fifth-color: #d6d7db;
  --lvl-one-text: 1.5rem;
  --lvl-two-text: 1rem;
  --lvl-three-text: 0.8rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #666767;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
